@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;500;600&display=swap');
@layer base {
  @font-face {
    font-family: 'IBMPlexSansArabic', sans-serif;
    src: url('/public/fonts/IBMPlexSansArabic-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  html,
  body {
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    @apply dark:bg-white;
    background: white;
    }
}
